<%- include('partials/header'); -%>

<form action="/" method="post">
  <p class="page-title">Home</p>
  <p><%= startingContent %></p>

  <% Eposts.forEach(Epost => { %>
    <p class="page-title"><%= Epost.title %></p>
    <p><%= Epost.content.substring(0,100)%> ..... <a href="/post/<%= Epost.title %>">Read More</a></p>
    <% }); %>   
</form>

<%- include('partials/footer'); -%>
